<p id="notice"><%= notice %></p>

<p>
  <strong>Flavor:</strong>
  <%= @candy.flavor %>
</p>

<p>
  <strong>Filling:</strong>
  <%= @candy.filling %>
</p>

<%= link_to 'Edit', edit_candy_path(@candy) %> |
<%= link_to 'Back', candies_path %>
